<%- include header%>
<div class="am-g">
  <div class="am-u-lg-6 am-u-md-8 am-u-sm-centered">
    <h3>注册</h3>
    <hr>
    <form method="post" class="am-form">
      <label>用户名:</label>
      <input type="text" name="name">
      <br>
      <label for="password">密码:</label>
      <input type="password" name="password">
      <br>
      <label for="password">确认密码:</label>
      <input type="password" name="password-repeat">
      <br>
      <label for="emial">邮箱:</label>
      <input type="email" name="email">
      <br>
      <div class="am-cf">
        <input type="submit" value="注 册" class="am-btn am-btn-primary am-btn-sm am-fl">
      </div>
    </form>
  </div>
</div>
<%- include footer%>